<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<ul id="events"></ul>
<script type="application/javascript">
    function add(message) {
        const el = document.createElement("li");
        el.innerHTML = message;
        document.getElementById("events").appendChild(el);
    }
    var eventSource = new EventSource("http://localhost:8080/emit/temperature-stream");
    eventSource.onmessage = e => {
        console.log(e.data)
        let jsonObj = JSON.parse(e.data)
        const fixed = Number(jsonObj.value).toFixed(2);
        add('Temperature: ' + fixed + ' C');
    }
    eventSource.onopen = e => add('Connection opened');
    eventSource.onerror = e => add('Connection closed');
</script>

</body>
</html>